#logo {
	position: relative;
	height:160px;
	width: 160px;
	background: url("../html5.png") no-repeat center center;
	margin: 10px;
}

#contenedor, #imagenes {
	border: 1px solid black;
	background-color: #ccffcc;
	margin: 10px;
	border-radius: 10px;
}

#imagenes div {
	position: relative;
	width: 80px;
	height: 80px;
	background: url("../html5.png") no-repeat center center;
	margin: 10px;
}